{% extends "base.html" %}
{% block content %}

<section class="section">
    <h1 style="text-align:center">SERVICES</h1>
    <p style="text-align:center; margin-bottom:40px">
        Empowering your financial journey with digital banking solutions.
    </p>

    <div class="services-grid">
        <div class="service-card">Online Banking</div>
        <div class="service-card">Instant Payments</div>
        <div class="service-card">Enterprise Loans</div>
        <div class="service-card">Financial Education</div>
    </div>
</section>

{% endblock %}
